header {
    height: 100vh;
    padding: 2rem 2rem 2rem;
    overflow: hidden;
}

.header__container {
    background-image: url(../../assets/header.jpg);
    background-size: cover;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 1rem 0 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.name__box {
    background: var(--color-background-1);
    width: 12rem;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 0.5rem 0 0.5rem;
}

/* ========== CTA ========== */
.cta {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: center;
    align-content: center;
}

/* ========== HEADER SOCIALS ========== */
.header__socials {
    display: flex;
    align-items: center;
}

/* ========== ME ========== */
.me {
    border-style: solid;
    border-width: 1rem;
    border-color: var(--color-background-1);
    left: calc(50% - 11rem);
    overflow: hidden;
    background: var(--color-primary-1);
    bottom: 100%;
    border-radius: 2rem;
    margin: 1rem 3rem 1rem;
}